//! COLORS _____________________________
//! ____________________________________
$baby-blue: #D1EFF9;
$dark-grey: #3d3d3d;
$gun-metal: #A0B0C4;

//! FONTS ______________________________
//! ____________________________________
$didonesque: 'didonesque-roman', serif;
$montserrat: 'Montserrat', sans-serif;


//! BREAK POINTS _______________________
//! ____________________________________
$break-one: 768px;
$break-two: 1028px;
