section {
  padding: 40px;
  width: 100%;
}

.container {
  font-size: .75rem;
}



//! HERO _____________________________
//! ____________________________________

.hero {
  height: 450px;
  padding: 30px 40px;

  nav {
    display: none;
  }

  .section-title {
    font-size: 1.4rem;
  }
}




//! TABLE OF CONTENTS __________________
//! ____________________________________

.toc {
  flex-flow: column;
}

.toc--book-preview {
  margin: 0 0 20px;
  width: 100%;

  .cover-wrapper {
    width: 260px
  }

  .book-cover {
    width: 300px;
  }
}

.toc--list-section {
  width: 100%;
}

.hero-nav-link--get-book {
  margin: 0 auto;
}


//! ABOUT SECTION ______________________
//! ____________________________________

.about-section {
  padding: 60px 40px;

  .section-title {
    width: 100%;
  }

  .book-description {
    width: 100%;
  }
}



//! INFLUENCERS ________________________
//! ____________________________________

.influencers {

  .influencer-container {
    padding: 40px 0 20px;
  }

  .influencer {
    justify-content: space-around;
    width: 50%;
  }

}




//! EVENTS _____________________________
//! ____________________________________

.events {

  .event-list {
    padding: 40px 0;
  }

  .col.event-date {
    width: 100%;
  }

  .col.event-details {
    width: 100%;
  }

  .col.event-tix {
    margin: 12px 0 0;
    width: 100%;
  }

  .event-meta-titles {
    display: none;
  }

  .event {
    flex-flow: column;
    padding: 0 0 20px;

    +.event {
      padding: 20px 0;
    }
  }

  .event.free {
    padding: 30px 30px;
  }

  .event-description {
    width: 100%;
  }
}

.connect-container {
  width: 100%;
}




//! FOOTER _____________________________
//! ____________________________________
footer.row {
  padding: 0 40px;
}

.social-container {
  width: 95px;
}
